/* FORM */
.Authentication-co form {
    color: seashell;
}

.Authentication-co form p {
    font-size: 0.8rem;
}

.Authentication-co form a {
    font-weight: bold;
    font-size: 0.8rem;
    color: antiquewhite;
    text-decoration: underline;
}

.Authentication-co form a:hover {
    opacity: 0.9;
}

.Authentication-co form button {
    color: antiquewhite;
    padding: 8px 16px;
    font-weight: bolder;
    font-size: 1.05rem;
}

.Authentication-co form button:hover {
    opacity: 0.9;
}

.Authentication-co form button:disabled {
    opacity: 0.5;
}

/* INPUT */
.Authentication-co .input {
    padding: 8px 1px;
    border-top: 1px solid transparent;
    /* without this input shifts 1px on focus */
    border-bottom: 1px solid rgba(255, 245, 238, 0.8);
    background-color: transparent;
}

.Authentication-co .input::placeholder {
    color: rgba(255, 245, 238, 0.8);
}

.Authentication-co .input:focus {
    outline: none;
    border: 1px solid rgba(255, 245, 238, 0.8);
    border-radius: 4px;
    padding: 8px;
}

.Authentication-co .input-error {
    border-bottom: 1px solid red;
}
