.card {
  color: #ecf0f1;
  border-radius: 0.8rem;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  transition: transform 0.5s ease-in-out;
  backface-visibility: hidden;
  color: black;
  background: white;
}

.face-back {
  transform: rotateY(180deg);
}

.face-front {
  transform: rotateY(-180deg);
}
