.horizontal-scroll-menu {
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  position: relative;
}

.menu-list {
  width: 100%;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  white-space: nowrap;
  position: relative;
  margin: 0;
  display: flex;
  padding: 8px 36px;
}

.menu-list li {
  scroll-snap-align: start;
  padding-left: 24px;
}

@media (min-width: 468px) {
  /* Webkit browsers (Chrome, Safari) */
  .menu-list::-webkit-scrollbar {
    width: 1px; /* Width of the scrollbar */
  }

  .menu-list::-webkit-scrollbar-thumb {
    background-color: transparent; /* Color of the scrollbar thumb */
  }

  .menu-list::-webkit-scrollbar-track {
    background-color: transparent; /* Color of the scrollbar track */
  }
}

.list-card {
  max-width: calc(100vw - 32px);
  float: left;
  display: flex;
  flex-direction: column;
  height: 240px;
  width: 340px;
  user-select: "none";
  cursor: pointer;
  font-weight: bold;
  color: white;
  /* text-shadow: 1px 1px 1px black; */
}

.list-card > .list-card__image {
  background-position: center;
  background-size: cover;
  filter: brightness(0.95);
  flex: 1;
  border-radius: 4px;
  overflow: hidden;
}

.list-card__title {
  overflow-x: hidden;
  margin: 10px;
  text-align: left;
  text-overflow: ellipsis;
  color: #222;
  font-weight: bold;
}

.verticalCard {
  flex: 1 0 360px;
}

.list-card:hover {
  filter: brightness(1);
}

.menu-item:hover {
  background-color: #dcdcdc;
}

/* Scroll Buttons Styles */
.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  border: none;
  width: 40px;
  cursor: pointer;
  font-size: 18px;
  z-index: 100;
  opacity: 0.3;
  font-weight: bolder;
  user-select: none;
}

.scroll-button:hover {
  opacity: 0.8;
}

.scroll-button:first-child {
  left: 0;
  height: 100%;
}

.scroll-button:last-child {
  height: 100%;
  right: 0;
}
