.sticky-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    color: white;
    transition: 0.3s ease-in;
    height: 48px;
}

.primary {
    box-shadow: 1px 1px 5px 5px rgba(17, 17, 17, 0.01);
    background: linear-gradient(180deg, rgba(0, 0, 0, .7) 16%, transparent);
}

.secondary {
    background: linear-gradient(180deg, rgba(0, 0, 0, .1) 16%, transparent);
    box-shadow: none;
}

.sticky-header::before {
    content: '';
    height: 48px;
    width: 100%;
    position: absolute;
    z-index: -10;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgb(20, 20, 20);
    opacity: 0;
    transition: all 0.6s ease-in;
}

.sticky-header.nav-menu-visible::before {
    transition: 0.3s ease-in;
    opacity: 1;
}

.netflix-logo {
    font-size: 2rem;
    font-weight: bold;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.main-nav ul li {
    cursor: pointer;
}

.main-nav ul li:hover {
    text-decoration: underline;
}

.user-menu {
    cursor: pointer;

    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .nav-menu {
        position: absolute;
        top: 40px;
        right: 0;
        background-color: #111;
        list-style: none;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

        li {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.searchInputContainer input {
    background: transparent;
    border-bottom: 2px solid silver;
    outline: none;
}